.tox/*
.idea/*
*.csv
*.pyc
*.parquet
*.html
*.DS_Store
Venv/*
venv/*
RPScraper/configuration.py

RPScraper/s3_data/*
RPScraper/configuration.py
RPScraper/scripts/ran_error.html


racecards/
.idea/
.vscode/
__*/

.DS_Store
settings/user_settings.toml

